/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-May-2015, 11:16:30
    Author     : kieran
*/


#program {
    width: 1200px; 
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
}

#preview {
    width: 36%;
    height: 99%;
    float: right;
    border-style: solid;
    border-width: 2px;

    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#form {
    width: 62%;
    height: 100%;
    float: left;
}

#variables{
    width: 100%;
    height: 10%;
}

#fileChoose{
    width: 100%;
    height: 15%;
    border-style: solid;
    border-width: 1px;
}

#iframeTable{
    width: 100%;
    height: 68%;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
}

#wrap {  
    width: 140px;
    height: 120px;
    padding: 0;
    overflow: hidden;
}

#buttons{
    width: 100%;
    height: 10%;
}

#filelist{
    width: 90%;
    height: 50%;
}

.previewFrame{
    height: 90%;
    width: 90%;
    alignment-adjust: central;
}

#tabs-byProfile img {
    height:45%;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
}

.tabs-menu li {
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    list-style-type: none;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tabstuff {
    margin-top: 5px;
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.tab-content {
    padding: 10px;
    position: absolute;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;        
}

.cellFrames {
    float: left;
    display: inline-block;
    height: 300px;
    width: 350px;
    -ms-zoom: 0.8;
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0px 80px;
    -o-transform: scale(0.8);
    -o-transform-origin: 0px 80px;
    -webkit-transform: scale(1.0);
    -webkit-transform-origin: 0 0;
}

.cell  {
    width: 700px;
    height: 310px;
    float:left;
}

.overlay{
    display: inline-block;
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 2;
}

.label{
    float: right;}

.hint{
    height: 50px;
      z-index: 2;
}