
#program {
    width: 1200px; 
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
}

#preview {
    width: 36%;
    height: 99%;
    float: right;
    border-style: solid;
    border-width: 2px;
    
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#form {
    width: 62%;
    height: 100%;
    float: left;
}

#variables{
    width: 100%;
    height: 10%;
}

#fileChoose{
    width: 100%;
    height: 15%;
    border-style: solid;
    border-width: 1px;
}

#iframeTable{
    width: 100%;
    height: 68%;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
}

#wrap {  
    width: 140px;
    height: 120px;
    padding: 0;
    overflow: hidden;
}

#buttons{
    width: 100%;
    height: 10%;
}

#filelist{
width: 90%;
height: 50%;
}

.cellFrames {
   // alignment-adjust: central; 
    border: 0;
    height: 100%;
    width: 100%;
    //overflow: hidden;
    -ms-zoom: 0.8;
    -ms-transform-origin: 0 0;
   -moz-transform: scale(0.8);
   -moz-transform-origin: 0px 80px;
    -o-transform: scale(0.8);
    -o-transform-origin: 0px 80px;
    -webkit-transform: scale(1.0);
    -webkit-transform-origin: 0 0;
}

.previewFrame{
    height: 90%;
    width: 90%;
    alignment-adjust: central;
}

.sliders{
    position: relative;
    height: 10%;
    width: 90%;
}

.cell{
    width: 30%;
    height: 100%;
    position:relative;
    float:left;
}
.overlay{
    top:0;
    left:0;
    width:90%;
    height:80%;
    position:absolute;
}

#tabs-byProfile img {
    height:45%;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
}