body{background-color:rgb(128,128,128);}
h1{font-size:23pt;font-family:Helvetica;font-style:bold;color:rgb(83,56,96);}
h2{font-size:14pt;font-family:Helvetica;color:rgb(77,22,111);}
p{font-style:italic;font-size:8pt;font-family:Helvetica;font-style:bold;color:rgb(44,88,66);}
img{border:2px;margin:0px 10px 10px 0px;}
